/* css*/


* {
    margin: 0;
    padding: 0;
    border: 0;
    background-repeat: no-repeat;
    position: relative;
    box-sizing: border-box;

}
//Body
 html,body,header,div,a,nav{
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
//Pseudo :afer


body { font-size: 16px;}
body {
    font-family: Arial,sans-serif;
    font-weight: 300;
    background:limegreen;
    color: #AFAEAF;
    margin: 0;
    padding: 0;
    font-kerning: normal;
    font-size: 14px;
    line-height: 1.5;
}

   
a {
    color: #A6C307;
    text-decoration: none;
    font-family: 'Open Sans',sans-serif;
    font-weight: 700;
    outline: none;
    border: none;
    transition: color 0.2s;
}
        a:hover {
    color: #35881d;
}


.header-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    width: 100%;
    border-bottom: 1px solid rgba(30, 212, 191, 1);
}

header {
    height: 48px;
    line-height: 3em;
    position: relative;
    z-index: 10;
    background-color: #fff;
    color: #000;
    height: 6.25em;
    line-height: 6.25em;
    transition: height 0.3s,line-height 0.3s;
}

.container {
    max-width: 1280px;
    margin: 0 6%;
}

/*logo*/
#logo {
    top: 0;
    height: 3em;
    width: 50px;
    background-position: left center;
}
#logo {
    display: block;
    height: 48px;
    width: 50px;
    position: absolute;
    z-index: 300;
    top: 18px;
    left: 15px;
    background: url(../imagen/pay.png) 0 0 no-repeat;
    background-size: contain;
    transition: height 0.3s;
}

/*nav*/
#site-nav {
    top: 0;
    display:block;
    position: absolute;
    left:0px;
    margin-left: 130px;
    display: block;    

}

ol, ul {
    list-style: none;
}

#site-nav li {
    float: left;
}

#site-nav a {
   padding: 0 1vw 0; 
}

#site-nav a {
    color: #747474;
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    padding: 0 1vw 26px;
}

 #nav-right {
     position: absolute;
     padding: 0 15px;
     right: 0;
     top: 0;
 }

 #nav-right a {
    font-size: 14px;
 }
 .rigth-nav-inline {
    display: inline-block;
 }

 .color{
    margin-right: 30px;
    color: #262626;
 } 
 .login{
  color:gray;
 }
 
 
 
 
 
#secondary-bar {
    bottom: -3em;
    background-color: #b59e9e;


 }

 #secondary-bar {
    position: absolute;
    width: 100%;
    z-index: 9;
    bottom: 0;
    height: 3em;
    line-height: 3em;
    background-color: blue;
    color: #fff;
    transition: bottom 0.3s 0.3s;

 }


 #secondary-bar .container {
    padding: 0 15px;
}

@media (min-width: 1025px)
#secondary-bar .contact {
    float: left;
}
#secondary-bar .contact {
    float: right;
    padding: 0;
}


